/*================ Links & Buttons ================*/
.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
}
.btn.continue-shopping {
  background-color: transparent;
  border: 1px solid #bb9852;
  padding: 11px;
  color: #bb9852;
  text-transform: uppercase;
  position: absolute;
  top: 28px;
}

.continue-shopping-wrapper {
  position: relative;
}

p.ajaxified-cart-feedback.success {
  color: #bb9852;
}

.ajaxified-cart-feedback.success a {
  color: #25395c;
}

